.main_div {
    width: 800px;
    display: table;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(238, 253, 247, 0.9);
    color: #000000;
    border: 1px solid blue;
    filter: alpha(Opacity=70);
}

.main_table_point td{
    padding: 20px;
}

.hello {
   color: red;
}